<table>
    <tr>
	   <td>
		  {% if brothers|length == 1 %}
		  <div class="vdecoration unique"></div>
		  {% elseif loop.first %}
		  <div class="vdecoration first"></div>
		  {% elseif loop.last %}
		  <div class="vdecoration last"></div>
		  {% else %}
		  <div class="vdecoration"></div>
		  {% endif %}
	   </td>
	   <td>
		  <div class="hdecoration"></div>
	   </td>
	   <td rowspan="{{ trueTree.countNumberOfDescendingEntities(entity, level) }}">
		  <a class="preview ninja" href="{{ path('ico_rules_feat_view', {'id': entity.id, 'slug': entity.slug}) }}"><div class="entity">{{ entity.name }}</div></a>
	   </td>
	   {% set childs = trueTree.getTrueChildren(entity, level) %}
	   {% if childs|length > 0 %}
		  <td>
			 <div class="hdecoration"></div>
		  </td>
		  <td>
		  {% for child in childs %}
			 {% include 'IcoRulesBundle:Tree:descendingTree.html.twig' with {'entity': child, 'trueTree': trueTree, 'level': level-1, 'loop': loop, 'brothers': childs} only %}
		  {% endfor %}
		  </td>
	   {% endif %}
    </tr>
</table>