<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Synchronisation - Avancement</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	   <style>
		  body {
			 background-color: black;
			 padding-left: 10%;
			 padding-right: 10%;
		  }
		  .line {
			 white-space: pre;
			 color: white;
			 font-family: monospace;
			 font-size: 16px;
		  }
		  #cursor {
			 display: none;
			 border-bottom: 4px solid white;
			 width: 10px;	
			 height: 10px;
			 margin-left: 5px;		
			 position: relative;
			 bottom: -3px;
		  }
		  #cursor:last-of-type {
			 display: inline-block;
		  }
		  #bottom {
			 height: 50px;
		  }
		  br:last-of-type {
			 display: none;
		  }
	   </style>
	   <div id="output"></div> 
	   <script>
		  window.setInterval(function() {
			 document.getElementById('cursor').style.display = (document.getElementById('cursor').style.display !== 'none' ? 'none' : '' );
		  }, 500);
	   </script>
	   <div id="bottom"></div>
    