{% extends "IcoRulesBundle::layout.html.twig" %}

{% block content %}
    <ul class="list-group">
    {% for msg, log in logs %}
	   <li class="list-group-item">{{ msg }}<span class="badge">{{ log|length }}</span></li>
    {% endfor %}
    </ul>
{% endblock %}