{% extends "IcoKingmakerBundle::layout.html.twig" %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="well bs-component" id="maps">
        <fieldset>
            <legend>Cartes</legend>
            <p>Les cartes vous permettent de gérer l'étendue géographique de votre royaume ainsi que les points d'intérêt économiques et politiques.</p>
            <ul>
                <li><a href="">Les terres volées [Vue générale]</a></li>
                <li><a href="">La ceinture verte</a></li>
                <li><a href="">The Nomen Heights</a></li>
                <li><a href="">The slough</a></li>
                <li><a href="">Glenebon uplands</a></li>
            </ul>
        </fieldset>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="well bs-component" id="manage">
        <fieldset>
            <legend>Royaume</legend>
            <p>Visualisez les statistiques de votre empire, nommez les responsables, définissez les édits.</p>
            <ul>
                <li><a href="">Vue d'ensemble</a></li>
                <li><a href="">Responsables politiques</a></li>
                <li><a href="">Édits</a></li>
            </ul>
        </fieldset>
    </div>
</div>
<div class="clearfix visible-md-block visible-lg-block"></div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="well bs-component" id="manage">
        <fieldset>
            <legend>Villes</legend>
            <p></p>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </fieldset>
    </div>
</div>
{% endblock %}