body {
    font-size: 16px;
}
.breadcrumb {
    margin: 0;
}
.fa {
    margin-right: 7px;
}
.link {
    cursor: pointer;
}
.justify {
    text-align: justify;
}
.popover {
    font-size: small;
}
.icon {
    width: 15px;
}
.table {
    display: table;
    margin: 0;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
}
.popover {
    max-width : 400px;
    z-index   : 1060;
    font-size: 15px;
}
.popover-content {
    padding: 6px;
}
.popover .well {
    margin: 5px 0 0 0;
}
.popover h4 {
    margin: 5px 2px 7px 2px;
}
.popover hr {
    margin: 0 0 3px 0;
}
a, a:hover, a:active, a:visited, .text-primary {
    color: #42A500;
    text-decoration: none !important;
}
.chosen-container-multi .chosen-choices {
    /*background-color: #ffffff;*/
/*    border: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;*/
/*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}