{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'IcoAppBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
	   <div class="well bs-component">
		  <fieldset class="form-block">
			 <legend>Parlez-nous de vous</legend>
			 <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
				{{ form_widget(form) }}
				<div>
				    <input class="btn btn-primary" type="submit" value="Créer mon compte" />
				</div>
			 </form>
		  </fieldset>
	   </div>
    </div>
</div>
