{% extends "IcoRulesBundle::layout.html.twig" %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
	   <th>École de magie</th>
	   <th>Description</th>
    </tr>
	   {% for spellschool in list %}
    <tr class="link" onclick="window.location.href=Routing.generate('ico_rules_spellschools_view', {id: {{ spellschool.id }}});">
	   <td>{{ spellschool.name }}</td>
	   <td>{{ spellschool.description }}</td>
    </tr>
	   {% endfor %}
</table>
{% endblock %}